@import url('https://fonts.cdnfonts.com/css/cocogoose');

@media (min-width: 765px) {
  body {
    min-width: 765px;
    max-width: 2000px;
  }

  header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
  }

  .socials {
    background-color: #3c3a39;
    background-size: cover;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: right;
    color: #fff;
    padding-right: 150px;
  }

  .nav-bar-socials {
    text-decoration: none;
    color: #fff;
  }

  .nav-bar {
    display: none;
  }

  .desktop-nav-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    display: flex;
    width: 3%;
    padding-left: 10%;
  }

  .a-link {
    text-decoration: none;
  }

  .img-logo-header-hidden {
    display: flex;
    width: 100%;
  }

  .nav-bar-hidden {
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 10%;
    gap: 40px;
  }

  .nav-bar-hidden-a {
    text-decoration: none;
    color: black;
  }

  .nav-bar-hidden-a:hover {
    color: #ec5242;
    transition: 0.3s;
  }

  .nav-bar-hidden-2 {
    display: flex;
    text-decoration: none;
    color: #ec5242;
    border: 3px solid #ec5242;
    padding: 5px 10px;
  }

  /*
  MAIN
  PAGE
  */

  .main-page {
    padding: 150px;
  }

  .title {
    font-size: 40px;
  }

  .title-2 {
    display: none;
  }

  .title-2-hidden {
    display: flex;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .article {
    width: 60%;
  }

  .dates {
    font-size: 45px;
  }

  .location {
    font-size: 35px;
  }

  /*
  MAIN
  PROGRAM
  */

  .main-program-title {
    padding-bottom: 100px;
  }

  .activities {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .activity {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12%;
    margin: 5px;
    gap: 10px;
    padding: 10px;
  }

  .activity-2 {
    flex-direction: column;
    width: 12%;
    margin: 5px;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
  }

  .activity-img {
    width: 50%;
  }

  .activity-h3 {
    display: none;
  }

  .activity-h3-hidden {
    display: flex;
  }

  .activity-p {
    width: 100%;
  }

  .button-ticket {
    display: none;
  }

  .button-see {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .see-button {
    text-decoration: underline;
    color: white;
  }

  /*
  FEATURED
  SPEAKERS
  */

  .speakers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 6fr;
    gap: 2rem;
  }

  .card-img {
    width: 300px;
    height: 200px;
  }

  .card-img-div {
    width: 300px;
    height: 200px;
  }

  .button-div {
    display: none;
  }


  /*
  PARTNERS
  */

  .partners-hidden {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    height: 350px;
  }

  .partner {
    align-items: center;
  }

  .logo-title-partner {
    padding-top: 50px;
  }

  .uls {
    display: flex;
    flex-direction: row;
  }

  /*
  FOOTER
  */

  .footer-hidden {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*
ABOUT ME
PAGE
*/

@media (min-width: 765px) {
  .title-about-me {
    font-size: 40px;
  }

  .title-2-about-me {
    display: none;
  }

  .title-2-hidden-about-me {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
  }

  /*
  LOGO
  */

  .logo-soda {
    width: 30%;
  }

  /*
  PAST
  CONCERTS
  */

  .past-concerts {
    height: 800px;
  }

  .titles-concerts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .logo-p-past-concerts {
    padding-top: 20px;
  }

  .concerts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .concert-1 {
    width: 100%;
    height: 50%;
  }

  .partners {
    display: none;
  }

  /*
  FOOTER
  */

  .black-footer {
    background-color: #343a40;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
  }

  .logo-footer {
    width: 10%;
    padding-top: 25px;
  }

  .copyright {
    padding-top: 25px;
  }
}
