.mobile-menu {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: 	rgb(211,211,211,0.95);
  backdrop-filter: blur(15px);
  mix-blend-mode: multiply;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-content {
  padding-top: 100px;
  top: 25%;
  width: 100%;
  text-align: left;
}

.mobile-menu a {
  padding: 8px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: black;
  display: block;
  transition: 0.3s;
  margin-left: 20px;
}

.mobile-menu ul.mobile-content {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}

.mobile-menu .closebtn {
  border: none;
  position: absolute;
  left: 85%;
  font-size: 40px;
}

/*
.mobile-menu a:hover,
.mobile-menu a:focus {
  color: #f1f1f1;
}
*/

@media screen and (max-height: 450px) {
  .mobile-menu {
    overflow-y: auto;
  }

  .mobile-menu a {
    font-size: 20px;
  }

  .mobile-menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
